
@{
    ViewBag.Title = "即将来临";
}



<section class="u-py-100 u-h-100vh u-flex-center" style="background:url(../img/coming-soon-bg.jpg) no-repeat;background-size:cover;background-position:center center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center text-white">
                <h1 class="u-fs-md-60 u-fw-600 text-white">
                    COMING SOON 尽情期待
                </h1>
                <p class="my-5">
                    <strong class="text-white">马来西亚新生命教会</strong>即将推出全新的网站封面，尽情期待
                </p>
                <h4 class="text-white mb-4">We'll be ready in...</h4>
                <div class="d-flex justify-content-center u-ff-dosis" data-countdown="2019/09/01">
                    <div class="m-3 u-w-150 u-h-150 rounded-circle bg-white-opacity-0_1 u-flex-center">
                        <span class="u-lh-0_9 u-fs-30 u-fs-md-48 u-fw-600 countdown-days"></span>
                        <span class="u-fs-18">天</span>
                    </div>
                    <div class="m-3 u-w-150 u-h-150 rounded-circle bg-white-opacity-0_1 u-flex-center">
                        <span class="u-lh-0_9 u-fs-30 u-fs-md-48 u-fw-600 countdown-hours"></span>
                        <span class="u-fs-18">小时</span>
                    </div>
                    <div class="m-3 u-w-150 u-h-150 rounded-circle bg-white-opacity-0_1 u-flex-center">
                        <span class="u-lh-0_9 u-fs-30 u-fs-md-48 u-fw-600 countdown-minutes"></span>
                        <span class="u-fs-18">分钟</span>
                    </div>
                    <div class="m-3 u-w-150 u-h-150 rounded-circle bg-white-opacity-0_1 u-flex-center">
                        <span class="u-lh-0_9 u-fs-30 u-fs-md-48 u-fw-600 countdown-seconds"></span>
                        <span class="u-fs-18">秒</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

