
@{
    ViewBag.Title = "联络方式";
}
<section class="u-py-100 u-h-100vh u-flex-center" data-dark-overlay="6" data-parallax="../img/about/hero2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h1 class="text-white">
                    Get in Touch with Us
                </h1>
                <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
                <p class="lead">
                    Mirum est notare quam littera gothica, quam nunc putamus
                    <br> parum claram, anteposuerit litterarum formas.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="u-pt-md-100 u-pb-md-70">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="media align-items-center justify-content-center">
                    <span class="icon icon-Phone2 u-fs-lg-60 u-fs-40 0 text-primary mr-3"></span>
                    <div class="media-body">
                        <p class="u-fs-lg-24 color-heading mb-1">+6 088 722737</p>
                        <p class="mb-0">星期一至星期五 早上8点-下午5点</p>
                        <p class="mb-0">星期六 早上8点-中午12点</p>
                        <p class="mb-0">星期二、日休息</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="media align-items-center">
                    <span class="icon icon-Mail u-fs-6-lg0 t u-fs-40 text-primary mr-3"></span>
                    <div class="media-body">
                        <p class="u-fs-lg-24 color-heading mb-1">newlifechurch.sabah@gmail.com</p>
                        <p class="mb-0">邮件联络</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="media align-items-center">
                    <span class="icon icon-Pointer u-f-lgs-6 u-fs-40 text-primary mr-3"></span>
                    <div class="media-body">
                        <p class="u-fs-lg-24 color-heading mb-1">Kota Kinabalu, Sabah, Malaysia</p>
                        <p class="mb-0">17-2, Jalan Lintas, Linta Jaya Uptownship</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
<iframe src="https://maps.google.com/maps?q=new%20life%20church%20malaysia&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <h2 class="h1">
                    欢迎您联系我们
                </h2>
                <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                <p>
                    有任何疑问的，你可以透过邮件的方式来联系我们，我们会尽快回复你的讯息。
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto text-center">
                <form action="#" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
                                <div class="input-group-addon bg-white border-0 pl-4 ">
                                    <span class="icon icon-User text-primary"></span>
                                </div>
                                <input type="text" class="form-control border-0 p-3" placeholder="您的姓名" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
                                <div class="input-group-addon bg-white border-0 pl-4 ">
                                    <span class="icon icon-Mail text-primary"></span>
                                </div>
                                <input type="text" class="form-control border-0 p-3" placeholder="您的邮件" required>
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6" placeholder="输入文字..." required></textarea>
                    <button class="btn btn-primary u-w-170" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

